/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body styles */
body {
  margin: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Heading styles */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Container styles */
.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

/* Form styles */
form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="text"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form select:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styles */
form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

form button:active {
  background-color: #004494;
}

/* Link styles */
a {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

a:hover {
  background-color: #45a049;
}

/* Index page styles */
.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

.index-body h1 {
  color: #333;
}

.index-body p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
}

.index-body a {
  margin: 10px 0;
  width: 200px;
  font-size: 16px;
}

/* Form group styles */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}

/* List styles */
ul {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes extra padding */
  margin: 0; /* Removes extra margin */
}

li {
  margin: 10px 0; /* Adds spacing between list items */
}

/* Terms container styles */
.terms-container {
  width: 100%;
  max-width: 800px; /* Adjust width as necessary */
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 12px;
  margin-top: 80px; /* Add margin to push content down */
  list-style: none;
  margin-bottom: 10px;
}

.terms-container p {
  margin-bottom: 15px;
}

/* Link styles within terms container */
.terms-container a {
  display: inline;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: blue;
  text-decoration: none;
  font-weight: normal;
}

.terms-container a:hover {
  text-decoration: underline;
  color: #007bff;
}

.terms-container a:visited,
.terms-container a:active,
.terms-container a:focus {
  color: blue;
  text-decoration: none;
}

/* Add this to /static/styles.css */
table td {
  padding: 5px;
  font-size: 12px;
}

table {
  border-collapse: separate; /* Ensures border-radius works properly */
  border-spacing: 0; /* Avoids gaps between cells */
  border-radius: 10px; /* Adjust value as needed for rounding */
  overflow: hidden; /* Ensures content respects border-radius */
}

table th {
  padding: 5px;
  font-size: 14px;
}

.checkbox-container {
  padding: 10px;
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}

/* Link styles within terms container */
.checkbox-container a {
  display: inline;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: blue;
  text-decoration: none;
  font-weight: normal;
}

.checkbox-container a:hover {
  text-decoration: underline;
  color: #007bff;
}

.checkbox-container a:visited,
.checkbox-container a:active,
.checkbox-container a:focus {
  color: blue;
  text-decoration: none;
}

/* Account info style */
.account-info {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  
}
